<div class="home-invest">
  <div class="row">
    <div class="col-md-4 offset-md-2 home-location-search-text">
      <img src="/img/invest-logo.png" />
    </div>
    <div class="col-md-4">
      <h2>Search by InVEST® Model</h2>
      <div>
        <div>Search datasets by InVEST model to find available input data and results for the chosen model.</div>
        <div>
          <ul class="home-invest-model-list">
            {% for invest_model in h.natcap_get_invest_models() %}
              {% if invest_model.highlighted %}
                {% snippet 'home/snippets/invest_model.html', url=invest_model.url, name=invest_model.name, slug=invest_model.slug, keywords=invest_model.keywords %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {# TODO #}
    </div>
</div>
