<div class="home-location-search">
  <div class="row">
    <div class="col-md-4 offset-md-2 home-location-search-text">
      <h2>Search by location</h2>
      <div class="home-location-search-description">Find or select a location on the map to see datasets available in that area. You can search for an address, city, state/province, or country, or find global data. Data is available across many different geographies globally.</div>
    </div>
    <div class="col-md-4">
      {% snippet "spatial/snippets/spatial_query.html" %}
    </div>
  </div>
</div>
