<div class="home-topics">
  <h2>Browse topics</h2>

  <div class="home-topics-description">
    Ecosystem services represent the benefits that nature provides to people. Providing data on these services can help incorporate them into decisions and improve the well-being of both people and nature. Search by topic to find datasets relevant to your data needs.
  </div>

  <div>
    <ul class="home-topics-list">
      <li class="home-topics-list-item">
        <div>
          <img src="/img/topics-precipitation.png" />
        </div>
        <div>{{ _('Precipitation') }}</div>
      </li>
      <li class="home-topics-list-item">
        <div>
          <img src="/img/topics-sediment.png" />
        </div>
        <div>{{ _('Sediment') }}</div>
      </li>
      <li class="home-topics-list-item">
        <div>
          <img src="/img/topics-water-quality.png" />
        </div>
        <div>{{ _('Water quality') }}</div>
      </li>
      <li class="home-topics-list-item">
        <div>
          <img src="/img/topics-nutrients.png" />
        </div>
        <div>{{ _('Nutrients') }}</div>
      </li>
    </ul>
  </div>
</div>
