<script>
</script>

<section id="dataset-map" class="module module-narrow module-shallow">
    {% set map_config = h.get_common_map_config() %}
    {% set map_container_id = map_container_id if map_container_id else 'dataset-map-container' %}
    <div class="dataset-map" data-module="natcap-spatial-query" data-module-map_config="{{ h.dump_json(map_config) }}" data-module-clear_url="{{ h.remove_url_param(['ext_bbox']) }}" data-module-map_container_id="{{ map_container_id }}">
        <div id="{{ map_container_id }}" class="dataset-map-container"></div>
    </div>
</section>

{% set type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource' %}
{% include 'spatial/snippets/spatial_query_' ~ type ~ '.html' %}
