<div class="resource-item-zip">
  <ol class="zipexpand-contents-list">
    {% for source in h.zipexpand_parse_sources(sources) %}
      <li class="zipexpand-contents-item {% if source.children %}has-children{% endif %}">
        {{ source.name }}

        {% if source.children %}
          <ol class="zipexpand-contents-list">
            {% for child in source.children %}
              <li class="zipexpand-contents-item">
                <span class="zipexpand-contents-item-line"></span>
                <span class="format-label" property="dc:format" data-format="{{ child.extension }}">{{ child.extension }}</span>
                {{ child.name }}
              </li>
            {% endfor %}
          </ol>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</div>
