<div class="resource-item-zip">
  <ol class="zipexpand-contents-list">
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      airport.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      andros_aoi.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      beaches.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      bonefish.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="tif">TIF</span>
      dem90m.tif
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      dredged_ports.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="csv">CSV</span>
      predictors.csv
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="csv">CSV</span>
      predictors_scenario.csv
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      recreation_andros.invs.json
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      roads_simple.shp
    </li>
    <li class="zipexpand-contents-item">
      <span class="zipexpand-contents-item-line"></span>
      <span class="format-label" property="dc:format" data-format="shp">SHP</span>
      roads_simple_buf.shp
    </li>
  </ol>
</div>
