{% ckan_extends %}

{% block package_description %}
  {% if h.mappreview_should_show(pkg) %}
    {% snippet "package/snippets/mappreview.html", pkg=pkg %}
  {% endif %}
{% endblock %}

{% block package_resources %}
{% endblock %}

{% block page_header %}
  {% if c.userobj %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% if h.mappreview_should_show(pkg) %}
    {% snippet "package/snippets/mappreview.html", pkg=pkg %}
  {% endif %}
 
  <div class="row package-details-row">
    <div class="col-md-6">
      {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
    </div>
    <div class="col-md-6">
      {% block package_usage %}
        <div class="package-usage">
          {% block package_citation %}
            {% snippet "package/snippets/textarea_copy.html", title='Cite this dataset', content=pkg_dict.suggested_citation %}
          {% endblock %}
          {% block package_map_embed %}
            {% snippet "package/snippets/textarea_copy.html", title='Embed this map into your website', content='Not implemented yet.' %}
          {% endblock %}
          {% block package_code_copy %}
            {% snippet "package/snippets/textarea_copy.html", title='Use this data in Python (geopandas)', content='Not implemented yet.' %}
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
