:root {
    --bs-font-sans-serif: "Source Sans 3", sans-serif;
    --bs-dark: #2E2D29;

    --font-headers: "Source Sans 3", sans-serif;
    --color-blue: #007C92;
    --color-green: #009B76;
    --color-light-gray: #F0F6F4;
    --color-gray: #CBD2D0;
    --color-off-white: #F8F8F8;
    --color-purple: #734675;
    --color-black: #333333;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
}

/* Login bar way up at the top*/
body .account-masthead {
    min-height: 30px;
    color: #fff;
    background: #2e2d29;
}

body .account-masthead .account ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}

body .account-masthead .account ul li a:hover {
    color: #fff;
    background-color: #585754;
    text-decoration: none;
}

/* Top menu bar */
body .masthead {
    background: var(--color-purple);
    color: #fff;
}

body .masthead .main-navbar ul li:hover a,
body .masthead .main-navbar ul li:focus a,
body .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: #2e2d29;
}

body .masthead .navbar .navbar-left {
  font-family: var(--font-headers);
}

/* Main body*/
body .homepage .module-search .search-form {
    border-radius: 0.25rem;
    background-color: #8c1515;
    padding: 0;
}

body .homepage .module-search .tags {
    margin-top: -5px;
    padding: 5px 10px 10px 10px;
    background-color: #8c1515;
}

.container {
    --bs-gutter-x: 1.5rem;
    max-width: unset;
}

.package-search-wrapper .secondary {
    background-color: #F0F6F4;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.dataset-item .dataset-heading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dataset-item .dataset-heading {
    margin: 0;
}

.dataset-item .dataset-resources {
    margin: 0;
}

.dataset-item .dataset-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dataset-resources li a {
    background-color: var(--color-light-gray);
    color: var(--bs-dark);
    font-weight: normal;
    border-radius: 2em;
}

.badge[data-format=zip], .badge[data-format*=zip] {
    background-color: var(--color-light-gray);
}

.homepage .main.hero {
    background: none;
    background-color: #009B76;
    color: white;
    padding: 8rem;
}

.homepage .main.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.homepage .main.hero .container .home-site-title {
    font-family: var(--font-headers);
    font-size: 1.5rem;
}

.homepage .main.hero .container .home-site-subtitle {
    font-family: var(--font-headers);
    font-size: 1.5rem;
}

.homepage .module-search {
    border: none;
    padding: 0;
}

.home-topics-container {
    padding: 8rem;
}

.home-location-search-container {
    padding: 8rem;
}

.home-topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.home-topics h2 {
    color: var(--color-purple);
    margin: 0;
}

.home-topics-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.home-topics-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--color-purple);
}

.additional-info .table {
    --bs-table-striped-bg: none;
}

.additional-info .table,
.additional-info .table tbody,
.additional-info .table th,
.additional-info .table tr,
.additional-info .table td {
    border: none;
}

.additional-info .table > thead {
    display: none;
}

.package-usage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.package-usage h3 {
    color: #009B76;
    font-size: 0.9rem;
}

.package-usage-textarea[readonly] {
    background: white;
}

/* Site footer */
body .site-footer {
    background: var(--color-purple);
    padding: 20px 0;
}

body .site-footer a {
    color: #fff
}

body  .site-footer .attribution p {
  color: #fff;
  font-size: 0.875rem;
}

body .site-footer label, .site-footer small, .site-footer .small {
    color: #fff;
}

.main {
    background: white;
}

.box, .wrapper {
    box-shadow: none;
    border: none;
}

.wrapper:before {
    border-right: none;
}

.search-form {
    border-bottom: none;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.search-form .search-input-group {
    margin-bottom: 0.5rem;
}

.search-form .search-input-group input {
    margin-bottom: 0;
    padding-left: 2rem;
}

.search-form .search-input-group::before {
    content: '';
    background: url(/img/icon-search.png) no-repeat center center;
    display: block;
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    top: 0.75rem;
    left: 0.5rem;
    z-index: 1000;
}

.search-form .control-order-by {
    float: none;
    margin-bottom: 0;
}

.search-form .search-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.search-form .btn-default {
    color: var(--color-off-white);
    background-color: var(--color-blue);
    border-color: var(--color-gray);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dataset-item {
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    padding: 0.75em;
}

.dataset-item:last-of-type {
    border: 1px solid var(--color-gray);
    padding-bottom: 0.75em;
}

#autocomplete-list {
    color: black;
}

.search-filters-title {
    font-weight: bold;
}

.search-filters-section {
    border-bottom: 1px solid var(--color-gray);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.search-filters-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search-filters-section-header .search-filters-toggle-icon {
    transform: rotate(90deg);
}

.search-filters-section-header.collapsed .search-filters-toggle-icon {
    transform: rotate(0deg);
}

.search-filters-section-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.search-filters-section-title {
    color: var(--color-green);
    font-weight: bold;
}

.search-filters label {
    font-weight: normal;
}

.search-filters label::after {
    content: '';
}

.search-filters-list {
    list-style: none;
    padding: 0;
}

.search-filters .nav-item > a {
    padding: 0;
    margin: 0;
}

.search-filters .nav-item > a:hover {
    background: none;
}

.search-filters .nav-item.active {
    background: none;
}

.search-filters .nav-item.active > a {
    background: none;
    color: var(--color-black);
}

.search-filters .nav-item.active > a:hover {
    background: none;
    color: var(--color-black);
}

.search-filters .nav-item.active > a:before {
    border: none;
}

.search-filters .nav-simple > li {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
}

.search-filters .module-footer {
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.search-filters .search-filters-section-content {
    display: none;
}
