/*
body {
  border-radius: 0;
}
*/

/* Login bar way up at the top*/
body .account-masthead {
    min-height: 30px;
    color: #fff;
    background: #2e2d29;
}

body .account-masthead .account ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}

body .account-masthead .account ul li a:hover {
    color: #fff;
    /*background-color: #8c1515;*/
    background-color: #585754;
    text-decoration: none;
}

/* Top menu bar */
body .masthead {
    background: #734675;
    color: #fff;
}

body .masthead .main-navbar ul li:hover a,
body .masthead .main-navbar ul li:focus a,
body .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: #2e2d29;
}

/* Main body*/
body .homepage .module-search .search-form {
    border-radius: 0.25rem;
    background-color: #8c1515;
    padding: 0;
}

body .homepage .module-search .tags {
    margin-top: -5px;
    padding: 5px 10px 10px 10px;
    background-color: #8c1515;
}

.homepage .main.hero {
    background: none;
    background-color: #009B76;
    color: white;
    padding: 8rem;
}

.homepage .main.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.homepage .main.hero .container .home-site-title {
    font-size: 1.5rem;
}

.homepage .main.hero .container .home-site-subtitle {
    font-size: 1.5rem;
}

.homepage .module-search {
    border: none;
    padding: 0;
}

.home-topics-container {
    padding: 8rem;
}

.home-location-search-container {
    padding: 8rem;
}

.home-topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.additional-info .table {
    --bs-table-striped-bg: none;
}

.additional-info .table,
.additional-info .table tbody,
.additional-info .table th,
.additional-info .table tr,
.additional-info .table td {
    border: none;
}

.additional-info .table > thead {
    display: none;
}

/* Site footer */
body .site-footer {
    background: #734675;
    padding: 20px 0;
}

body .site-footer a {
    color: #fff
}

body  .site-footer .attribution p {
  color: #fff;
  font-size: 0.875rem;
}

body .site-footer label, .site-footer small, .site-footer .small {
    color: #fff;
}

.main {
    background: white;
}

.box, .wrapper {
    box-shadow: none;
    border: none;
}

.wrapper:before {
    border-right: none;
}

.search-form {
    border-bottom: none;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
}

.search-form .search-input-group {
    margin-bottom: 0.5rem;
}

.search-form .control-order-by {
    float: none;
}

.dataset-item {
    border: 1px solid var(--Gray, #CBD2D0);
    border-radius: 10px;
    padding: 0.75em;
}

.dataset-item:last-of-type {
    border-bottom: 1px solid var(--Gray, #CBD2D0);
    padding-bottom: 0.75em;
}

#autocomplete-list {
    color: black;
}
