<div class="modal fade" id="advancedSearchModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog advanced-search">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="advancedSearchModalLabel">Filter by</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="advanced-search-section">
              <h6>
                <img src="/img/icon-search.png" /> 
                Search
              <h6>
            </div>
            <div class="advanced-search-section">
              <h6>
                <img src="/img/filters-place.png" />
                Place
              </h6>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advanced-search-section">
              <h6>
                <img src="/img/filters-file-type.png" />
                File type
              </h6>
            </div>
          </div>
          <div class="col-md-3">
            <div class="advanced-search-section">
              <h6>
                <img src="/img/filters-tag.png" />
                Tag
              </h6>
            </div>
            <div class="row">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Update filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
