{% ckan_extends %}

{% block resource_item_title %}
  {% set name_or_id = res.name or res.id %}
  <a class="heading" href="{{ res.url }}" aria-label="{{ _('Download resource: {name_or_id}').format(name_or_id=name_or_id)}}">
    <div class="resource-item-description">
      <div class="resource-item-type">
        {% snippet 'package/snippets/source_type_badge.html', ext=h.natcap_get_resource_type_icon_slug(res.url) %}
      </div>
      <div class="resource-item-name">
        {{ h.natcap_get_filename(res.url) }}
      </div>
    </div>
    <div class="icon-button icon-button-download">
    </div>
  </a>

  {% set sources = h.get_pkg_dict_extra(c.pkg_dict, 'sources', '') %}
  {% set parsed_sources = h.zipexpand_parse_sources(sources) %}
  {% set resource_sources = h.zipexpand_sources_for_resource(parsed_sources, res) %}
  {% if resource_sources %}
    {% snippet 'package/snippets/sources_list.html',sources=resource_sources,indent=0 %}
  {% endif %}
{% endblock %}

{% block resource_item_description %}
{% endblock %}

{% block resource_item_explore %}
{% endblock %}
