{% set formats = h.get_facet_items_dict('res_format', search_facets) %}
{% set tags = h.get_facet_items_dict('tags', search_facets) %}

<div class="search-filters">
  <div class="search-filters-title">
    Filter by
    <button class="icon-button icon-button-filter advanced-search-toggle" data-bs-toggle="modal" data-bs-target="#advancedSearchModal"></button>
  </div>
  <div class="search-filters-content">
    {% set open = h.get_facet_items_dict('placenames', search_facets)|map(attribute='active')|sum %}
    <div class="search-filters-section {% if open == 0 %}collapsed{% endif %}" data-module="natcap-facet-collapse" data-module-map_container_id="search-filters-map-container">
      <div class="search-filters-section-header collapsed">
        <div class="search-filters-section-header-left">
          <img src="/img/filters-place.png" />
          <div class="search-filters-section-title">Place</div>
        </div>
        <div class="search-filters-section-header-right">
          <img class="search-filters-toggle-icon" src="/img/icon-toggle.png" />
        </div>
      </div>
      <div class="search-filters-section-content">
        {% snippet "spatial/snippets/spatial_query.html", map_container_id="search-filters-map-container" %}
        {% snippet 'snippets/facet_list.html', title='Places', name='placenames', search_facets=search_facets, show_label=true  %}
      </div>
    </div>

    {% set open = h.get_facet_items_dict('res_format', search_facets)|map(attribute='active')|sum %}
    <div class="search-filters-section {% if open == 0 %}collapsed{% endif %}" data-module="natcap-facet-collapse">
      <div class="search-filters-section-header collapsed">
        <div class="search-filters-section-header-left">
          <img src="/img/filters-file-type.png" />
          <div class="search-filters-section-title">{{ _('File type') }}</div>
        </div>
        <div class="search-filters-section-header-right">
          <img class="search-filters-toggle-icon" src="/img/icon-toggle.png" />
        </div>
      </div>
      <div class="search-filters-section-content">
        {% snippet 'snippets/facet_list.html', title='File type', name='sources_res_formats', search_facets=search_facets, show_badge=true, show_label=false %}
      </div>
    </div>

    {% set open = h.get_facet_items_dict('tags', search_facets)|map(attribute='active')|sum %}
    <div class="search-filters-section {% if open == 0 %}collapsed{% endif %}" data-module="natcap-facet-collapse">
      <div class="search-filters-section-header">
        <div class="search-filters-section-header-left">
          <img src="/img/filters-tag.png" />
          <div class="search-filters-section-title">Tag</div>
        </div>
        <div class="search-filters-section-header-right">
          <img class="search-filters-toggle-icon" src="/img/icon-toggle.png" />
        </div>
      </div>
      <div class="search-filters-section-content">
        {% snippet 'snippets/facet_list.html', title='Tags', name='tags', search_facets=search_facets, show_label=true  %}
      </div>
    </div>
  </div>
</div>
