<div class="package-textarea-copy {{ extra_class }}" data-module="natcap-textarea-copy" data-module-content="{{ content }}">
  <div class="package-textarea-copy-header">
    <h3>{{ _(title) }}</h3>
    <button class="package-textarea-copy-button icon-button">
      <img src="/img/icon-copy.png" />
    </button>
    <div class="package-textarea-copy-message-area">
    </div>
  </div>
  <div class="package-textarea-copy-content">
    <textarea class="form-control package-usage-textarea" rows="3" readonly>{{ content }}</textarea>
  </div>
</div>


