include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/natcap *.html *.json *.js *.less *.css *.mo *.yml *.jpg *.png
recursive-include ckanext/natcap/migration *.ini *.py *.mako
